body{
	background-color: black;
}
#content{
	color: yellow;
	text-align:center;
	width:800px;
	margin:auto;
	background-color: rgb(255,255,255,0.2);
}
#t{
	font-family: Impact;
	font-size: 64px;
	text-align:center;
	background-color: rgb(0,0,100,0.1);
	border: 1px white solid;
	margin-bottom: 5px;
}
table{
	font-size:24px;
	color: white;
	margin:auto;
}
td#last{
	text-align:center;
}
button{
	border-color: yellow;
	background-color:black;
	color:white;
	width:155px;
	height:50px;
	font-size:28px;
}
img#l{
	float: left;
	margin-right: 10px;
	height:250px;
	width:400px;
}
img#p{
	float: right;
	margin-left: 10px;
	height:250px;
	width:400px;
}
p{
	font-size:24px;
	color:white;
	text-align: justify;
	padding-left:10px;
	padding-right:10px;
}
a{
	text-decoration:none;
	color:yellow;
}